@{
    ViewData["Title"] = "List Email";
    Layout = "~/Views/Shared/_TopNavbarPurchaseOrder.cshtml";
}

@using PurchasingSystemApps.Areas.Order.Models;
@using PurchasingSystemApps.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model IEnumerable<Email>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title" style="color:#ffffff">@ViewBag.Title</h3><div class="card-tools">
                     <div class="card-tools">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <a class="btn btn-tool bg-indigo" asp-action="CreateEmail" asp-controller="Email" asp-area="Order">
                                <i class="fas fa-plus"></i>
                            </a>
                        }
                    </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                @foreach (var email in Model) // Mengiterasi model email yang dikirim dari controller
                                {
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="@email.Emailid" id="check_@email.Emailid" disabled>
                                                <label for="check_@email.Emailid"></label>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                        <td class="mailbox-name"><a href="@Url.Action("ReadEmail", "Email", new { id = email.Emailid })">@email.To</a></td>
                                        <td class="mailbox-subject">
                                            <b>@email.Subject</b> - @email.Pesan.Substring(0, Math.Min(30, email.Pesan.Length))...
                                        </td>
                                        <td class="mailbox-attachment">
                                            @if (!string.IsNullOrEmpty(email.AttachmentFileName))
                                            {
                                                <a href="@Url.Content("~/email/" + email.AttachmentFileName)" target="_blank">
                                                    <i class="fas fa-paperclip"></i>
                                                </a>
                                            }
                                        </td>
                                        <td class="mailbox-date">@email.CreateDateTime.ToString("g")</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>